*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */
.header{
    margin-bottom: 50px;
}
.row-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 7px 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.left-col-header{
    margin-left: 18px;
}

.right-col-header{
    margin-right: 18px;
    text-align: right;
}

ul li{
    display: inline-block;
}

.header-text{
    padding: 13px;
}

.logo-img{
    width: 80%;
    vertical-align: middle;
}

.header-button{
    background-color: rgba(0,96,254,255);
    color: white;
    border-style: none;
    padding: 4.5px 12px;
}

.no-decoration{
    text-decoration: none;
}
/* End Header */

/* Main */
    /* JUMBOTRON */
    .jumbotron{
        background-color: rgba(180,208,231,255);
    }
    .big-container{
        width: 58%;
        margin: 0 auto;
    }

    h1{ 
        font-size: 55px;
        font-weight: 800;
        padding-top: 70px;
        padding-bottom: 45px;
    }

    .row-jumbotron{
        width: 100%;
        display: flex;
    }
    .left-col-jumbotron{
        width: 35%;
        font-size: 12px;
        padding: 0px 5px;
    }

    .jumbotron-text{
        margin-bottom: 30px;
    }


    .jumbotron-button{
        background-color: rgba(0,96,254,255);
        color: white;
        border-style: none;
        padding: 8px 12px;
    }
    .right-col-jumbotron{
        position: relative;
        width: 65%;
    }

    .img-jumbo{
        width: 105%;
        position: absolute;
        top: 0;
        left: -3%;
    }

    .arrow{
        margin-top: 50px;
        margin-bottom: 15px;
    }
    /* END JUMBOTRON */

    /* PLAN */

    /* END PLAN */
/* End Main */